.saerch-form {
  border-radius: 8px;
}

.saerch-form__label {
  overflow: hidden;
  display: flex;
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 12px 16px;
  background-color: var(--bg-light-transparent);
  transition: background-color 0.3s ease;
}

.saerch-form__label:hover {
  background-color: var(--bg-form-active);
}

.saerch-form__input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: var(--font-weight-primary);
  font-size: var(--font-size-primary);
  line-height: var(--line-height-primary);
  color: var(--text-color-primary);
}

.saerch-form__input::placeholder {
  color: var(--text-color-placeholder);
}

.saerch-form__input:focus {
  outline: 300px solid var(--bg-form-active);
  background-color: var(--bg-form-active);
}

.saerch-form__btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.search,
.close,
.close-dark {
  width: 24px;
  height: 24px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.search {
  background-image: url("../public/search.svg");
}

.close {
  background-image: url("../public/close.svg");
}

.close-dark {
  background-image: url("../public/close-dark.svg");
}
