/* raleway-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v34-cyrillic_latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v34-cyrillic_latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  /* fonts */
  --font-family-primary: "Raleway", sans-serif;
  --font-size-primary: 20px;
  --font-size-additional: 12px;
  --font-size-medium-title: 24px;
  --font-size-big-title: 112px;
  --font-size-small-title: 16px;
  --font-size-value: 32px;
  --font-weight-primary: 400;
  --font-weight-bold: 700;
  --line-height-primary: 1.2;
  --line-height-one: 1;
  --line-height-additional: 1.33333;

  /* colors */
  --text-color-primary: #202020;
  --text-color-additional: #393939;
  --text-color-placeholder: #707070;
  --text-color-link: #a6a6a6;
  --weather-color: #f5f4f4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 32px 0;
  display: flex;
  align-items: center;
  min-height: 100vh;
  min-width: 1280px;
  background-image: url("../public/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary);
  font-size: var(--font-size-primary);
  line-height: var(--line-height-primary);
  font-variant-numeric: lining-nums;
}

img,
svg {
  display: block;
  max-width: 100%;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  margin: 0 auto;
  width: 1120px;
  border-radius: 8px;
  backdrop-filter: blur(50px);
  background: rgba(112, 112, 112, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
}

.header__saerch-form {
  width: 506px;
}

.saerch-form {
  border-radius: 8px;
}

.saerch-form__label {
  overflow: hidden;
  display: flex;
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 12px 16px;
  background-color: rgba(245, 244, 244, 0.4);
  transition: background-color 0.3s ease;
}

.saerch-form__label:hover {
  background-color: rgba(218, 218, 218, 1);
}

.saerch-form__input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: var(--font-weight-primary);
  font-size: var(--font-size-primary);
  line-height: var(--line-height-primary);
  color: var(--text-color-primary);
}

.saerch-form__input::placeholder {
  color: var(--text-color-placeholder);
}

.saerch-form__input:focus {
  outline: 300px solid rgba(218, 218, 218, 1);
  background-color: rgba(218, 218, 218, 1);
}

.saerch-form__btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.search,
.close,
.close-dark {
  width: 24px;
  height: 24px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.search {
  background-image: url("../public/search.svg");
}

.close {
  background-image: url("../public/close.svg");
}

.close-dark {
  background-image: url("../public/close-dark.svg");
}

.weather-today {
  padding: 32px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  color: var(--weather-color);
}

.info-weather {
  padding: 8px;
  flex-grow: 1;
}

.info-weather__city {
  margin-bottom: 8px;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-medium-title);
  line-height: var(--line-height-additional);
  text-align: center;
}

.info-weather__date {
  margin-bottom: 8px;
  text-align: center;
}

.info-weather__time {
  margin-bottom: 64px;
  text-align: center;
}

.info-weather__degrees {
  margin-bottom: 64px;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-big-title);
  line-height: var(--line-height-one);
  text-align: center;
}

.info-weather__cloud {
  margin-bottom: 8px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.info-weather__cloud span {
  font-weight: var(--font-weight-primary);
  font-size: var(--font-size-primary);
  line-height: var(--line-height-primary);
}

.info-weather__feels {
  text-align: center;
}

.weather-today__details {
  max-width: 506px;
}

.details {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.details__item {
  border-radius: 8px;
  padding: 16px;
  width: 158px;
  height: 196px;
  background: rgba(245, 244, 244, 0.4);
}

.details-item__info-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.details-item__info-all {
  margin-bottom: 16px;
}

.details-item__title {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-small-title);
  line-height: var(--line-height-primary);
  color: var(--text-color-primary);
}

.details-item__img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.details-item__value {
  font-weight: var(--font-weight-primary);
  font-size: var(--font-size-value);
  line-height: var(--line-height-one);
  color: var(--text-color-primary);
  position: relative;
}

.details-item__info-custom {
  display: grid;
}

.details-item__range {
  margin-bottom: 8px;
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: rgba(218, 218, 218, 0.4);
  outline: none;
  border-radius: 5px;
  pointer-events: none;
}

.details-item__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background: var(--weather-color);
}

.details-item__range--barometr {
  margin-bottom: 8px;
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: rgb(138, 138, 138);
  background: radial-gradient(
    circle,
    rgba(138, 138, 138, 1) 3%,
    rgba(218, 218, 218, 1) 100%
  );
  outline: none;
  border-radius: 5px;
  pointer-events: none;
}

.details-item__range--barometr::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background: var(--weather-color);
}

.details-item__desc {
  font-size: var(--font-size-additional);
  line-height: var(--line-height-additional);
  color: var(--text-color-additional);
  display: flex;
  justify-content: center;
}

.details-item__desc span {
  margin-left: 2px;
}

.details-item__first {
  flex-grow: 1;
}

.details-item__second {
  margin-right: -3px;
}

.slider {
  padding: 32px;
}

.slider__menu,
.menu-slider__list {
  display: flex;
  align-items: center;
  gap: 32px;
}

.menu-slider {
  margin-bottom: 32px;
  color: var(--weather-color);
  font-weight: var(--font-weight-bold);
}

.menu-slider__title {
  font-size: var(--font-size-medium-title);
  line-height: var(--line-height-additional);
}

.menu-slider__link {
  color: var(--text-color-link);
  font-size: var(--font-size-small-title);
  line-height: 1.25;
  position: relative;
  transition: color 0.1s ease;
}

.menu-slider__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 2px;
  width: 0;
  background-color: var(--weather-color);
  transition: width 0.1s ease;
}

.menu-slider__link:hover,
.menu-slider__link:hover::before {
  width: 84px;
  color: var(--weather-color);
}

.menu-slider__link--active {
  color: var(--weather-color);
  position: relative;
}
.menu-slider__link--active::before {
  content: "";
  position: absolute;
  left: 1px;
  bottom: -4px;
  height: 2px;
  width: 84px;
  background-color: var(--weather-color);
}

.slider__weather {
  display: flex;
  align-items: center;
  gap: 32px;
}

.weather-slider__list {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 16px;
  flex-wrap: nowrap;
  overflow: hidden;
  mask: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 95%,
    rgba(255, 255, 255, 0) 100%
  );
}

.weather-slider__item {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  background: rgba(245, 244, 244, 0.4);
  border-radius: 8px;
  min-width: 156px;
  flex-shrink: 0;
}

.weather-slider__prev-btn,
.weather-slider__next-btn {
  padding: 12px 16px;
  min-width: 56px;
  border-radius: 8px;
  background-color: rgba(245, 244, 244, 0.4);
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.25s ease;
}
.weather-slider__prev-btn:disabled,
.weather-slider__next-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.weather-slider__prev-btn:hover:enabled,
.weather-slider__next-btn:hover:enabled {
  background-color: #dadada;
}

.weather-slider__time {
  color: var(--text-color-primary);
  font-size: var(--font-size-small-title);
  font-weight: var(--font-weight-primary);
  line-height: 1.25;
}
.weather-slider__img {
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.weather-slider__temp {
  color: var(--text-color-primary);
  font-size: var(--font-size-small-title);
  font-weight: var(--font-weight-primary);
  line-height: 1.25;
}

.footer {
  padding: 32px;
  text-align: center;
}

.footer__text {
  font-weight: var(--font-weight-primary);
  font-size: var(--font-size-small-title);
  line-height: 1.25;
  text-align: center;
  color: var(--weather-color);
}

.footer__text a {
  text-decoration: underline;
}

.footer__text a:hover {
  text-decoration: none;
}
