.weather-today__details {
  max-width: 506px;
}

.details {
  display: grid;
  grid-template-columns: repeat(3, 158px);
  grid-template-rows: repeat(2, 196px);
  gap: 16px;
}

.details__item {
  border-radius: 8px;
  padding: 16px;
  background: var(--bg-light-transparent);
}

.details-item__info-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.details-item__info-all {
  margin-bottom: 16px;
}

.details-item__title {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-small-title);
  line-height: var(--line-height-primary);
  color: var(--text-color-primary);
}

.details-item__img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.details-item__value {
  font-weight: var(--font-weight-primary);
  font-size: var(--font-size-value);
  line-height: var(--line-height-one);
  color: var(--text-color-primary);
  position: relative;
}

.details-item__info-custom {
  display: grid;
}

.details-item__range {
  display: flex;
  margin-bottom: 8px;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  overflow: hidden;
}

.details-item__round {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: var(--white-color);
}

.details-item__desc {
  font-size: var(--font-size-additional);
  line-height: var(--line-height-additional);
  color: var(--text-color-additional);
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-item__desc span {
  margin-left: 2px;
}

.details-item__first {
  flex-grow: 1;
}

.details-item__second {
  margin-right: -3px;
}

@media (max-width: 1023px) {
  .details {
    display: grid;
    grid-template-columns: repeat(3, 163px);
    grid-template-rows: repeat(2, 196px);
    gap: 12px;
    justify-content: center;
  }
  .details-item {
    padding: 16px;
  }
}

@media (max-width: 767px) {
  .details {
    display: grid;
    grid-template-columns: minmax(98px, 128px) minmax(98px, 128px) minmax(
        98px,
        128px
      );
    grid-template-rows: repeat(2, 148px);
    gap: 8px;
  }

  .details-item {
    padding: 12px;
  }

  .details-item__info-all {
    gap: 12px;
    margin-bottom: 12px;
  }

  .details-item__info-all img {
    width: 24px;
    height: 24px;
  }
  .details-item__title {
    font-size: var(--font-size-media-small-title);
  }
  .details-item__value {
    font-size: var(--font-size-media-value);
  }

  .details-item__desc {
    font-size: var(--font-size-media-additional);
  }

  .details-item:last-child .details-item__desc {
    text-align: center;
  }

  .details-item__range {
    height: 6px;
  }

  .details-item__round {
    width: 6px;
    height: 6px;
  }
}

@media (max-width: 643px) {
  .details-item__range {
    margin-bottom: 6px;
  }
}
